body {
  margin: 0;
}

html {
  font-family: "open-sans";
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 3px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

button[type=submit] {
  padding: 8px 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
}

button[type=button] {
  height: 100%;
  width: 10%;
  margin: 0;
  padding: 0;
  border: 0;
}

#confetti {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#done {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

#old {
  border: 1px solid black;
  margin: 0 auto;
}

#board {
  width: 96vmin;
  height: 96vmin;
  margin: 0 auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#clue-box {
  width: 60%;
  height: 4vh;
  text-align: center;
  font-size: 2.5vmin;
  margin: 0px auto;
  padding-bottom: 1vmin;
}

#clue {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 4vh;
  width: 50%;
}

#keyboard {
  position: relative;
  bottom:0;
  width: 100%;
  height: 34vh;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.file-in {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-in + label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 20px;
  border: 3px solid grey;
  border-style: groove;
  border-radius: 3px;
  text-align: center;
}

.file-in:focus + label, .file-in + label:hover {
  color: red;
}

.file-in + label {
	cursor: pointer; /* "hand" cursor */
}

.file-in:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.selected {
  background-color: yellow;
}

.selected-clue {
  background-color: aqua;
}

.unchecked {
  color: black;
}

.correct {
  color: blue;
}

.incorrect {
  color: red;
}

.osk {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.osk-row {
  text-align: center;
  margin-bottom: .7vh;
}
.osk-key {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  width: 9.4vw;
  height: 8vh;
  background: #323231;
  color: #A5C0CA;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font: 6
  font-weight: 700;
  padding-top: 13px;
}
.osk-key + .osk-key {
  margin-left: .25vw;
}
.osk-key.space {
  width: 97vw;
}
