#board {
  border: 1px solid black;
  width: 82vmin;
  height: 82vmin;
  margin: 0 auto;
}

div {}

.filled {
  position: relative;
  width: calc(((100%+15px) / 15) - 2px);
  height: calc(((100%+15px) / 15) - 2px);
  background: black;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}

.empty {
  position: relative;
  width: calc(((100%+15px) / 15) - 2px);
  height: calc(((100%+15px) / 15) - 2px);
  border: 1px solid black;
  float: left;
  font-family: "Verdana", Helvetica, sans-serif;
}

.contents {
  position: absolute;

  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 6.8vmin;
  font-size: 4.5vmin;
}

.label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border: 0px solid black;
  padding: 0;
  margin: 0;
  font-size: 2vmin;
  font-family: Arial, Helvetica, sans-serif;
}

.selected {
  background-color: aqua;
}
