<h2>Welcome to room <%= @room_name %> </h2>

<div id="board"> </div>
When you're ready for the mobile stuff, take a look at
<a href="https://github.com/mBut/jquery.mlkeyboard"> this mobile keyboard library </a>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>require("js/app").SocketApp.run()</script>
