<h2>Welcome to room <%= @room_name %> </h2>

<div id="messages"></div>
<input id="chat-input" type="text"></input>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>require("js/app").SocketApp.run()</script>
